<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form method="post" action="/add-student-process">
        {% csrf_token %}
        Name : <input type="text" name="txt1">
        Mobile : <input type="text" name="txt2">
        Email : <input type="text" name="txt3">
        Address : <input type="text" name="txt4">

        <input type="submit">

    </form>
</body>
</html>