{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'shop.css'%}"/>

</head>
<body>
    {% include 'menu.html' %}
    <div class="a">
        <h1>Products</h1>
        <p>
        Experience boundless possibilities with our renowned FASTEST SHOPIFY THEME.
        Import and customize demos in just a few clicks.
        </p>
        <div class="demo-grid">
            <div class="demo-card">
                <img src="{%static '9.jpg'%}"/>
                <small>iphone-17</small>
                <input type="button" class="btn" value="Buy Now"/>
            </div>
            <div class="demo-card">
                <img src="{%static '3.jpg'%}"/>
                <small>iphone-16</small>
                <input type="button" class="btn" value="Buy Now"/>
            </div>
            <div class="demo-card">
                <img src="{%static '5.jpg'%}"/>
                <small>iphone-15</small>
                <input type="button" class="btn" value="Buy Now"/>
            </div>
            <div class="demo-card">
                <img src="{%static '6.jpg'%}"/>
                <small>iphone-14</small>
                <input type="button" class="btn" value="Buy Now"/>
            </div>
            <div class="demo-card">
                <img src="{%static '4.jpg'%}"/>
                <small>Samsung S26 </small>
                <input type="button" class="btn" value="Buy Now"/>
            </div>
            <div class="demo-card">
                <img src="{%static '7.jpg'%}"/>
                <small>Samsung S25 Ultra</small>
                <input type="button" class="btn" value="Buy Now"/>
            </div>
            <div class="demo-card">
                <img src="{%static '8.jpg'%}"/>
                <small>Samsung S24 Ultra</small>
                <input type="button" class="btn" value="Buy Now"/>
            </div>
            <div class="demo-card">
                <p>COMING<br>SOON...</p>
            </div>
        </div>
    </div>
</body>
</html>